.box {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    border-left: none;
    border-top: none;
    background-color: antiquewhite;
}

.box.box:nth-child(3n) {
    border-right:none;
}

.box:nth-child(6)~.box {
    border-bottom:none;
}

#gameboard {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

#gameboard span {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

#playerText {
    font-size: 50px;
}

